In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

warnings.simplefilter('ignore')
%matplotlib inline

In [2]:
import keras

Using TensorFlow backend.

In [3]:
import json
from tqdm.auto import tqdm

line_count = len(open("./review.json").readlines())
user_ids, business_ids, stars, dates = [], [], [], []
with open("./review.json") as f:
    for line in tqdm(f, total=line_count):
        blob = json.loads(line)
        user_ids += [blob["user_id"]]
        business_ids += [blob["business_id"]]
        stars += [blob["stars"]]
        dates += [blob["date"]]

ratings = pd.DataFrame(
 {"user_id": user_ids, "business_id": business_ids, "rating": stars, "date": dates}
)
user_counts = ratings["user_id"].value_counts()
active_users = user_counts.loc[user_counts >= 5].index.tolist()

HBox(children=(IntProgress(value=0, max=6685900), HTML(value='')))

In [4]:
ratings.head()

                  user_id             business_id  rating                 date
0  hG7b0MtEbXx5QzbzE6C_VA  ujmEBvifdJM6h6RLv4wQIg     1.0  2013-05-07 04:34:36
1  yXQM5uF2jS6es16SJzNHfg  NZnhc2sEQy3RmzKTZnqtwQ     5.0  2017-01-14 21:30:33
2  n6-Gk65cPZL6Uz8qRm3NYw  WTqjgwHlXbSFevF32_DJVw     5.0  2016-11-09 20:09:03
3  dacAIZ6fTM6mqwW5uxkskg  ikCg8xy5JIg_NGPx-MSIDA     5.0  2018-01-09 20:56:38
4  ssoyf2_x0EQMed6fgHeMyQ  b1b1eb3uo-w561D0ZfCEiQ     1.0  2018-01-30 23:07:38

In [5]:
X = ratings[['user_id','business_id']]
y = ratings['rating']

In [6]:
from sklearn.preprocessing import LabelEncoder

le1= LabelEncoder()
le2 = LabelEncoder()

X['user_id'] = le1.fit_transform(X['user_id'])
X['business_id'] = le2.fit_transform(X['business_id'])

X.head()

   user_id  business_id
0  1158189       176747
1  1599679        74082
2  1307908       100925
3  1064624       140760
4  1455311       117663

In [7]:
model = keras.Sequential()
model.add(keras.layers.Dense(16, input_dim=2, activation='relu'))
model.add(keras.layers.Dense(8, activation='relu'))
model.add(keras.layers.Dense(16, activation='relu'))
model.add(keras.layers.Dense(1, activation=None))

WARNING:tensorflow:From /media/anirudh/Data/Code/anaconda3/envs/comp/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [8]:
model.compile(loss='mse', optimizer='adam', metrics=['mse'])

In [10]:
hist = model.fit(X,y, batch_size=1024,epochs=2)

Epoch 1/2
6685900/6685900 [==============================] - 13s 2us/step - loss: 1065.2104 - mean_squared_error: 1065.2104
Epoch 2/2
6685900/6685900 [==============================] - 13s 2us/step - loss: 697.7925 - mean_squared_error: 697.7925